extends layout
block content
	div.jumbotron
		h1=title
		meta(chatset="utf-8")
		p.lead
			Una tienda en linea (tambien conocida como tienda online, tienda virtual o tienda electronica) se refiere a un comercio convencional que usa como medio principal para realizar sus transacciones un sitio web de Internet.
	div.center
		
		div.medio1
			p.imglg: img(src="images/9.jpg", WIDTH="200", HEIGHT="100")
		div.medio2
			p.imglg: img(src="images/6.jpg", WIDTH="200", HEIGHT="100")		
		div.medio2
			p.imglg: img(src="images/9.jpg", WIDTH="200", HEIGHT="100")
		div.medio2
			p.imglg: img(src="images/8.jpg", WIDTH="200", HEIGHT="100")
		