doctype 5
html(lang="es")
	head
		meta(chatset="utf-8")
		title=title
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/style.css")

	body
		section.container
			p.imglg: img(src="images/4.png" )
			include partes/menu
			block content 
	
		