extends layout
block content
	div.jumbotron
		p.imglg: img(src="images/3.png", align="left")
		input(placeholder="email", type="text")
		input(placeholder="password", type="password")
	a(class="btn", class="btn btn-inverse", type="submit href="#") entrar
	
	p.lead
			|Una tienda en linea (tambien conocida como tienda online, tienda virtual o tienda electronica) se refiere a un comercio convencional que usa como medio principal para realizar sus transacciones un sitio web de Internet.
		
			Los vendedores de productos y servicios ponen a disposicion de sus clientes un sitio web en el cual pueden observar imagenes de los productos, leer sus especificaciones y finalmente adquirirlos. Este servicio le da al cliente rapidez en la compra, la posiblidad de hacerlo desde cualquier lugar y a cualquier hora. Algunas tiendas en linea incluyen dentro de la propia pagina del producto los manuales de usuario de manera que el cliente puede darse una idea de antemano de lo que esta adquiriendo; igualmente incluyen la facilidad para que compradores previos califiquen y evalúen el producto.

			Tipicamente estos productos se pagan mediante tarjeta de credito y se le envian al cliente por correo o agencia de transporte, aunque según el pais y la tienda pueden haber otras opciones, como Paypal.