extends layout
block content
	div.jumbotron
		p.imglg: img(src="images/2.jpg", align="left")
		input(class="form-horizontal", placeholder="email",type="text")
		input(class="form-horizontal", placeholder="pasword",type="text")
	a(class="btn", class="btn btn-inverse", type="submit href="#") entrar
	