extends layout
block content
	div.jumbotron
		h1=title
		p.lead
			Ventas		
	div.center
		p.lead
			|Ventas	Conozca en que consiste la venta online, cuales son sus ventajas y que categora de productos se sugiere vender mediante este moderno tipo de venta... 
		p.imglg: img(src="images/10.jpg", WIDTH="200", HEIGHT="100")			