div.masthead
	h3.muted Todo en Tecnologia
	div.navbar
		div.navbar-inner
			div.container
				ul.nav
					li.active: a(href="/") inicio
					li: a(href="/compras") Compras
					li: a(href="/ventas") Ventas
					li: a(href="/login") login
					li: a(href="registro") Registrarse
					