extends layout
block content
	h1= title
	p.imglg: img(src="img/1.jpg", alt="imagen")
		
	
	p Tu sitio de Tecnolocia
	a(href='' ) Inicio<br>
	a(href='' ) Acerca de<br>
	a(href='' ) Ayuda<br>
	a(href='' ) Contacto<br>
	